---
import { ui } from "@/i18n/ui";
import { home } from "@/i18n/docs";

const lang = Astro.currentLocale as "es" | "en";
const { projects } = ui[lang];
const { projectsList } = home[lang];
---

<article>
  <h2>{projects}</h2>
  <ul>
    {
      projectsList.map(({ title, shortResume }) => (
        <li>
          {title} - {shortResume}
        </li>
      ))
    }
  </ul>
</article>
